/* Card */
.status-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 360px;
}

.status-card .label {
    font-size: 14px;
    color: #555;
}

.status-card .value {
    font-size: 32px;
    font-weight: bold;
}

.status-card .diff {
    font-size: 12px;
    color: #4e8df5;
}

/* Search bar */
.search-input {
    width: 250px;
    background: #eaf3f4;
    padding: 10px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #d9e3e4;
}

/* Table */
.table-wrapper {
    margin-top: 20px;
    background: white;
    padding: 0px;
    border: 1px solid #cdd6df;
    border-radius: 15px;
    overflow: hidden;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.custom-table thead {
    background: #e8e6e1;
}

.custom-table th {
    padding: 12px;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.custom-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

/* Status badges */
.badge {
    padding: 4px 12px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.badge.accepted {
    background: #4CAF50;
}

.badge.declined {
    background: #d9534f;
}

.badge.requested {
    background: #5dade2;
}

/* Pagination */
.page-number {
    padding: 4px 8px;
    cursor: pointer;
    color: #555;
}

.page-number.active {
    font-weight: bold;
    border-bottom: 2px solid #555;
}

.logo {
    width: 20px;   /* change this value */
    height: auto;  /* keeps correct aspect ratio */
}

/* Search Box */
.search-box {
    position: relative;
    width: 260px;
}

.search-box input {
    width: 100%;
    padding: 10px 14px 10px 40px; /* space for icon */
    border: 1px solid #d9e3e4;
    border-radius: 8px;
    background: #eaf3f4;
    outline: none;
    font-size: 14px;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #6c7980;
    font-size: 15px;
}
