/* Container */
.edit-container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    font-family: "Poppins", sans-serif;
    color: #0f1724;
    padding: 0 20px;
}

/* Header */
.edit-header {
    background: #003C45;
    padding: 20px 30px;
    border: 1px solid #cdd6df;
    width: 560px;
}

.edit-header h2 {
    color: white;
    margin: 0;
    font-size: 26px;
    font-weight: 500;
}

/* Form */
.edit-form {
    margin-top: 40px;
}

/* Label */
.form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #000;
}

/* Text Input */
.form-input {
    width: 100%;
    background: #d7d7d7;
    border: none;
    padding: 14px;
    border-radius: 4px;
    margin-bottom: 25px;
    font-size: 16px;
    width: 525px;
}

/* Select Boxes Row */
.row-2 {
    display: flex;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

/* Select Container */
.select-box {
    flex: 1;
    min-width: 150px;
}

/* Select styling */
.form-select {
    width: 200px;
    padding: 10px;
    background: #d7d7d7;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23002f36' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
    cursor: pointer;
}

/* Save Button */
.btn-save {
    margin-top: 10px;
    padding: 12px 35px;
    background: #003C45;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    float:none;
}

.btn-save:hover {
    background: #005059;
}
