.hero{
    position: relative;
    width: 100%;
    height: 450px;
    background: url('/pbl1/public/images/heroSection/1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.hero-text{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    z-index: 2;
}

.slider-container{
    width: 100%;
    overflow: hidden;
    background: #ffff;
    padding: 25px 0;
}

.slider-track{
    display: flex;
    gap: 20px;
    animation: scroll 18s linear infinite;
}

.slider-track img{
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100%{transform: translateX(-50%);}
}

.slider-track:hover{
    animation-play-state: paused;
}