.hero{
    position: relative;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: bottom;
    color: white;
    font-size: 3rem;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 10px;
}

.hero::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slideBackground 60s infinite;
    z-index: -2;
}

.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
    z-index: -1;
}

@keyframes slideBackground {
  0% {
    background-image: url("../images/heroSection/1.jpg");
  }
  25% {
    background-image: url("../images/heroSection/2.jpg");
  }
  50% {
    background-image: url("../images/heroSection/3.jpg");
  }
  75% {
    background-image: url("../images/heroSection/4.jpg");
  }
  100% {
    background-image: url("../images/heroSection/1.jpg");
  }
}