.hero{
    position: relative;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: bottom;
    color: white;
    font-size: 3rem;
    text-align: left;
    font-weight: 789;
    font-size: 70px;
    overflow: hidden;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 60px;
    z-index: 2;
}

.hero::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slideBackground 60s infinite;
    z-index: -2;
}

.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.92),
        rgba(0, 0, 0, 0.47),
        rgba(0, 0, 0, 0)
    );
    z-index: -1;
    mix-blend-mode: multiply;
}

@keyframes slideBackground {
  0% {
    background-image: url("../images/heroSection/1.jpg");
  }
  25% {
    background-image: url("../images/heroSection/2.jpg");
  }
  50% {
    background-image: url("../images/heroSection/3.jpg");
  }
  75% {
    background-image: url("../images/heroSection/4.jpg");
  }
  100% {
    background-image: url("../images/heroSection/1.jpg");
  }
}