* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

body {
    margin: 0;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ===== TOP & BOTTOM BAR ===== */
.top-bar,
.bottom-bar {
    height: 7vh;
    background-color: #014651;
    width: 100%;
}

/* ===== BACKGROUND STRUCTURE ===== */
.background-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* top blank space */
.bg-top-space {
    height: 2vh;
    background-color: #ffff;
}

/* main image */
.bg-image {
    flex: 1;
    background-image: url('/images/LabDT/gedung-sipil.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(2px); */
}

/* bottom blank space */
.bg-bottom-space {
    height: 2vh;
    background-color: #ffffff;
}

/* ===== LOGIN CARD (CENTERED CONTAINER) ===== */
.login-card {
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 18px;
    width: 90%;
    max-width: 55vh;
    border-radius: 5px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.3);
    z-index: 10;
}

/* ===== LOGO ROW ===== */
.login-logos {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.login-logos img {
    height: 40px;
    object-fit: contain;
}

/* ===== LOGIN FORM BOX ===== */
.login-box {
    min-height: 55vh;
    background: #014651;
    padding: 25px;
    border-radius: 3px;
    color: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.45)
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box label {
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* ===== BUTTON ===== */
.login-box button {
    margin-top: 40px;
    background: #00a651;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    float: right;
    cursor: pointer;
}

.login-box button:hover {
    background: #008f45;
}

/* ===== MOBILE FIX ===== */
@media (max-width: 600px) {
    .login-card {
        width: 95%;
    }

    .login-logos img {
        height: 32px;
    }
}
