* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    background-color: #014651;
    padding: 15px 30px;
    display: flex;          
    justify-content: space-between; 
    align-items: center;     
    width: 100%;           
    height: 50px;   
    justify-content: flex-end; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .flag-image {
    width: 40px;           
    height: auto;         
    padding: 0px 8px;
  }
  .navbar {
    display: flex;
    background-color: #ffff;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 40px; 
  }

  .navbar-content a{
  color: black;
  align-items:center;
  font-size: 22px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  margin-left: 10px;
  }

  .logo-image{
    height: 50px;
    width: auto;
    margin-right: 15px;
  }


