* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .top-navbar {
    background-color: #014651;
    padding: 15px 30px;
    display: flex;          
    justify-content: space-between; 
    align-items: center;     
    width: 100%;           
    height: 20px;   
    justify-content: flex-end; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  }
  .flag-image {
    width: 35px;           
    height: auto;         
    padding: 0px 8px;
  }
  .navbar {
    position: sticky;
    top : 0;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: #ffff;
    padding: 0 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 40px; 
  }

  .navbar-content a{
  color: black;
  align-items:center;
  font-size: 18px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  margin-left: 10px;
  }

  .logo-image{
    height: 50px;
    width: auto;
    margin-right: 15px;
  }
.navbar-content a.active {
    border-bottom: 3px solid #0a7685;
    padding-bottom: 6px;
    font-weight: 600;
}