/* Reset Dasar */
* {
    box-sizing: border-box;
    margin: 0;
    padding-right: 0;
}

/* Styling Body (Latar belakang & Font) */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    /* padding: 40px 20px; */
    width: 100%;
}

/* Container agar konten berada di tengah */
.container {
    max-width: 800px; /* Lebar maksimal konten */
    margin: 0 auto;   /* Posisi tengah */
    position: center;
    width: 100%;
    margin-top: 30px;
}

/* Judul Utama */
h1 {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    line-height: 1.3;
    margin-bottom: 15px;
}

/* Tanggal */
.date {
    font-size: 12px;
    color: #999; /* Abu-abu muda */
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

/* Gambar & Caption */
figure {
    margin-bottom: 40px;
}

img {
    width: 100%;       /* Agar responsif mengikuti lebar layar */
    height: auto;
    display: block;
    border-radius: 2px;
}

figcaption {
    margin-top: 15px;
    font-size: 12px;
    color: #b0b0b0;    /* Abu-abu sangat muda untuk caption */
    line-height: 1.5;
}

/* Sub Judul */
h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

/* Paragraf Teks */
p {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
    text-align: left;
}