/* publication_search.css (FINAL - KONSISTEN) */
.publication-search-section {
    padding: 60px 6%; /* Padding konten 6% */
    background: #F4F9FA; /* Latar Belakang Gelap */
    margin: 0; 
    width: 100%; 

    font-family: 'Montserrat', sans-serif;
}

.publication-search-section h2 {
    font-size: 36px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0); 
}

/* Search box */
.search-box {
    position: relative;
    margin-bottom: 20px;
    width: 500px; 
}
.search-box input {
    width: 100%;
    padding: 10px 12px 10px 36px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 14px;
}
.search-box .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #0000006f;
}

.publication-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    color: #000000; 
}

.dropdown {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
}

.dropdown-menu {
    position: absolute;
    top: 22px;
    left: 0;
    display: none;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    min-width: 120px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-direction: column;
    z-index: 99;
}

.dropdown-item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f3f3f3;
}


/* ==============================
      RESPONSIVE
============================== */

@media (max-width: 900px) {
    .publication-search-section {
        padding: 50px 4%;
    }
    .search-box {
        width: 400px; 
    }
}

@media (max-width: 600px) {
    .publication-search-section {
        padding: 40px 30px;
    }
    .search-box {
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 430px) {
    .publication-search-section {
        padding: 35px 20px;
    }
}