.research-section {
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.research-section .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.research-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}

.research-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.research-card img {
    width: 100%;
    display: block;
    transition: 0.4s ease;
}

/* LAYER GELAP */
.research-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.4s ease;
    z-index: 1;
}

.research-card .card-content {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    transition: 0.4s ease;
    text-align: center;
}

.research-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.research-card p {
    font-size: 15px;
    opacity: 0;
    transition: 0.4s ease;
}

/* HOVER EFFECT */
.research-card:hover img {
    transform: scale(1.1);
}

.research-card:hover::after {
    opacity: 1;
}

.research-card:hover .card-content {
    bottom: 20px;
}

.research-card:hover p {
    opacity: 1;
}

.label-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #009fe3;      /* warna biru seperti desain */
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    z-index: 3;
}

.hover-desc {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0 15px;
    opacity: 0;
    z-index: 4;
    transition: .3s ease;
    font-size: 15px;
}

.research-card:hover .hover-desc {
    bottom: 20px;
    opacity: 1;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.white-box {
    background: #ffffff;
    padding: 18px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #009fe3;
    border-top: 4px solid #fff;
    position: relative;
    z-index: 3;
}

/* LAYER GELAP */
.research-card:hover .img-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    opacity: 1;
    transition: .3s ease;
}

