/* ========================
   RESET
======================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================
   SIDEBAR BASE
======================== */
.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #215C66;
    padding: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    flex-shrink: 0;
}

/* ========================
   HEADER
======================== */
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;
}

.logo {
    width: 80px;
    margin-top: -10px;
    margin-bottom: -17px;
}

.header-text {
    margin-left: -13px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.subtitle {
    font-size: 12px;
    opacity: 0.8;
}

/* ========================
   DIVIDER
======================== */
.divider {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    margin: 20px 0;
}

/* ========================
   MENU
======================== */
.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 0.8;
    color: white;
    text-decoration: none;
    height: 40px;            /* KUNCI TINGGI */
    padding: 0 15px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #063F46;
    opacity: 1;
}

/* ========================
   ICONS
======================== */
.sidebar-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    flex-shrink: 0;
}


/* ========================
   TABLET RESPONSIVE
======================== */
@media (max-width: 1024px) {
    .sidebar {
        width: 240px;
        padding: 15px;
    }

    .logo {
        width: 70px;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 11px;
    }
}

/* ========================
   MOBILE RESPONSIVE
======================== */
@media (max-width: 768px) {
    .sidebar {
        width: 80px;
        padding: 10px;
    }

    .header-text {
        display: none;
    }

    .menu-item span {
        display: none;
    }

    .menu-item {
        justify-content: center;
        padding: 12px;
    }

    .sidebar-icon {
        width: 28px;
        height: 28px;
        object-fit: contain;
        flex-shrink: 0;
    }


    .divider {
        margin: 15px 0;
    }
}
