/* TOPBAR */
.topbar {
    width: 100%;
    background: #215C66;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: Poppins, sans-serif;
}

/* Kanan */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Nama user */
.user-name {
    font-size: 16px;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
}

/* Avatar */
.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

/* Dropdown */
.dropdown {
    position: absolute;
    top: 55px;
    right: 20px;
    background: white;
    border-radius: 6px;
    padding: 8px 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    min-width: 140px;
    display: none;

    opacity: 0;
    transform: translateY(-5px);
    transition: 0.2s ease;
}

/* Muncul */
.dropdown.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Item dropdown */
.dropdown-item {
    display: block;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
    background: #f0f0f0;
}
