body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: #eef3f5;
}

/* WRAPPER */
.section-container {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITLE BOX */
.title-box {
    background: #014651;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 0;
    margin-top: 20px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.title-box h2 {
    margin: 0;
    color: white;
}

/* CONTENT CARD */
.content-card {
    width: 50%;
    background: white;
    padding: 30px 65px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 0;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.06),
                0px 10px 25px rgba(0,0,0,0.25);
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;

    max-height: 300px;     /* adjust this value */
    overflow-y: auto;      /* enable vertical scroll */
}

/* LIST STYLE */
.content-card ul {
    margin: 0;
    padding-left: 20px;
}

.content-card li {
    margin-bottom: 15px;
}

/* SCROLLBAR IF CONTENT TOO LONG */
.content-card::-webkit-scrollbar {
    width: 6px;
    background: #aaa;
    border-radius: 15px;
    padding-right: 10px;
}

.content-card::-webkit-scrollbar-thumb {
    width: 3px;
    background: #e2e2e2;
    border-radius: 20px;
}
