.vision-mision-section{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: #fff;
}

.vm-title{
    background-color: #014651;
    color: white;
    padding: 8px 28px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 4px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.vm-card{
    background: white;
    padding: 28px 32px;
    max-width: 750px;
    border-radius: 8px;
    box-shadow:  0px 6px 18px rgba(0,0,0,0.15);
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
}

vm-ard ul{
    padding-left: 18px;
}

.vm-box{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vm-card.mission-scroll{
    background: white;
    padding: 28px 32px;
    max-width: 750px;
    border-radius: 8px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;

    max-height: 200px;
    overflow: auto;
}